<div class="comment-card">
  <form class="comment-card__form" [formGroup]="form">
    <div class="comment-card__head">
      <img
        class="comment-card__avatar"
        src="https://dummyimage.com/40x40.jpg"
        alt=""
      />
      <mat-form-field>
        <mat-label></mat-label>
        <textarea
          formControlName="comment"
          placeholder="レビューコメントを送ってプロダクトを評価しよう！"
          autofocus
          autocomplete="off"
          matInput
          matTextareaAutosize
          [matAutosizeMinRows]="3"
          required
          #body
        ></textarea>
      </mat-form-field>
    </div>

    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || form.pristine"
    >
      レビューコメントを送る
    </button>
  </form>
</div>
<ng-container *ngIf="allComment$">
  <div class="comment-card" *ngFor="let comment of allComment$ | async">
    <div class="comment-card__head">
      <img class="comment-card__avatar" src="{{ comment.avatarId }}" alt="" />
      <div class="comment-card__name">{{ comment.userName }}</div>
    </div>
    <div class="comment-card__comment">{{ comment.comment }}</div>
  </div>
</ng-container>
