<div class="comment">
  <form
    class="comment__form"
    *ngIf="user$ | async as user"
    [formGroup]="form"
    (ngSubmit)="sendMessage()"
  >
    <img src="https://dummyimage.com/40x40.jpg" alt="" />
    <mat-form-field>
      <mat-label>チャット</mat-label>
      <input
        type="text"
        formControlName="comments"
        matInput
        autofocus
        autocomplete="off"
        required
        #body
      />
      <button
        matSuffix
        mat-icon-button
        [disabled]="form.invalid || form.pristine"
      >
        <mat-icon>send</mat-icon>
      </button>
      <mat-error *ngIf="form.hasError('required')">必須入力です</mat-error>
      <mat-error *ngIf="form.hasError('maxlength')"
        >最大文字数を超えています</mat-error
      >
      <mat-hint align="end">{{ body.value.length }}/140文字まで</mat-hint>
    </mat-form-field>
  </form>
</div>
