<section class="hero">
  <div class="container">
    <h1 class="hero__title">新しいサービスを一緒に育てる</h1>
    <button mat-raised-button color="warn" class="start-btn" (click)="login()">
      testaを始める
    </button>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__left">
        <h2 class="about__title">About testa</h2>
        <p class="about__text">
          新しいサービスを完成させていざ公開…！と思っても<br />
          なかなか周りに見せられる人がいないなんてことありませんか。
        </p>
        <p class="about__text">
          Testaなら公開前に多くの人にレビューをもらうことで<br />
          より良いサービスに磨いてから世界にお披露目することができます！
        </p>
        <p class="about__text">
          一生懸命作ったあなたのWebサービスはどう見えてるのか。<br />
          なかなか聞けない生の声を聞くことができるサービスです。
        </p>
      </div>
      <div class="about__right">
        <img src="/assets/images/about.svg" alt="" />
      </div>
    </div>

    <div class="feature">
      <ul class="feature__list">
        <li class="feature__item">
          <div class="feature__head">
            <figure class="feature__icon">
              <span class="material-icons">check_circle</span>
            </figure>
            <h3 class="feature__name">個人開発でも寂しくない！</h3>
            　　
          </div>
          <p class="feature__text">
            個人開発は、テストをするのも自分1人です。<br />でもtestaを利用すれば、複数人でのチェックが可能なので、自分では気付かなかったミスを見つけてもらえるかもしれません。
          </p>
        </li>
        <li class="feature__item">
          <div class="feature__head">
            <figure class="feature__icon">
              <span class="material-icons">check_circle</span>
            </figure>
            <h3 class="feature__name">新しいサービスに出会える</h3>
          </div>
          <p class="feature__text">
            様々なサービスジャンルの投稿に対応しています。Testaから世の中にまだない新しい価値を生み出すサービスの協力者となれるかもしれません。
          </p>
        </li>
        <li class="feature__item">
          <div class="feature__head">
            <figure class="feature__icon">
              <span class="material-icons">check_circle</span>
            </figure>
            <h3 class="feature__name">継続的にサービスの成長を見れる</h3>
          </div>
          <p class="feature__text">
            Webサービスのブラッシュアップは一回では終わりません。評価されるたびに進化していくサービスをリアルタイムで見ることができます。
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="flow">
  <div class="container">
    <h2 class="flow__title">testaを利用する流れ</h2>
    <div class="flow__contents">
      <div class="flow__content">
        <h3 class="flow__content__head">サービス開発者</h3>
        <ol class="flow__content__body flow__steps">
          <li class="flow__step">
            <p class="flow__step__no">1</p>
            <h4 class="flow__step__title">ログインする</h4>
            <p class="flow__step__text">
              testaでユーザー登録をして、ログインします。
            </p>
          </li>
          <li class="flow__step">
            <p class="flow__step__no">2</p>
            <h4 class="flow__step__title">プロジェクトを作成して、公開する</h4>
            <p class="flow__step__text">
              プロジェクトの詳細を登録して、公開します。<br />SNSなどでプロジェクトを拡めて、たくさんの人にレビューをしてもらいましょう。
            </p>
          </li>
          <li class="flow__step">
            <p class="flow__step__no">3</p>
            <h4 class="flow__step__title">レビューをしてくれた人に感謝する</h4>
            <p class="flow__step__text">
              無償でレビューをしていただいたので、感謝の気持ちを伝えましょう！
            </p>
          </li>
        </ol>
      </div>
      <div class="flow__content flow__content--test">
        <h3 class="flow__content__head">テストユーザー</h3>
        <ol class="flow__content__body">
          <li class="flow__step flow__step--test">
            <p class="flow__step__no">1</p>
            <h4 class="flow__step__title">ログインする</h4>
            <p class="flow__step__text">
              testaでユーザー登録をして、ログインします。
            </p>
          </li>
          <li class="flow__step flow__step--test">
            <p class="flow__step__no">2</p>
            <h4 class="flow__step__title">プロジェクトを探す</h4>
            <p class="flow__step__text">
              様々なジャンルのプロジェクトがあります。気になるプロジェクトを探しましょう。
            </p>
          </li>
          <li class="flow__step flow__step--test">
            <p class="flow__step__no">3</p>
            <h4 class="flow__step__title">レビューをする</h4>
            <p class="flow__step__text">
              プロジェクトのテストをして、レビューしましょう。
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="message">
  <div class="container">
    <div class="message__content">
      <h2 class="message__title">あなたの声がサービスを進化させる</h2>
      <p class="message__text">
        一つのサービスに5人のレビューが集まれば<br />
        サービス上の大きな問題のうち50％は解決すると言われています。
      </p>
      <p class="message__text">
        自分が思うなんとなくの「こうすればいい」よりも<br />
        使ってくれた人の確かな「こうして欲しい」に<br />
        気付けるチャンスはなかなかありません。
      </p>
      <p class="message__text">
        あなたのたった一言がサービスを大きく変えるかもしれない。<br />
        誰かのたった一言で気付けなかった事に気付くかもしれない。
      </p>
      <p class="message__text">
        Testaで未完成のサービスをクリエイターとあなたで<br />
        一緒に創りあげてみませんか。
      </p>
    </div>
  </div>
</section>
<section class="started">
  <div class="container">
    <h2 class="started__title">Join testa！</h2>
    <p class="started__text">一緒にサービスを育てよう</p>
    <button mat-raised-button color="warn" class="start-btn" (click)="login()">
      testaを始める
    </button>
  </div>
</section>
