<div class="wrapper">
  <ng-container *ngIf="user$ | async as user">
    <div class="heading">
      <h2 class="heading__top">Edit</h2>
      <p class="heading__body">あなたのプロジェクト詳細を入力しましょう！</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit(user.uid)">
      <mat-dialog-content class="form">
        <mat-form-field appearance="outline" class="form__title">
          <input
            type="text"
            matInput
            placeholder="プロジェクト名を入力"
            formControlName="title"
            #title
            autocomplete="off"
            required
            matTextareaAutosize
          />
        </mat-form-field>

        <div class="form__image">
          <img
            *ngIf="thumbnailURL || project?.thumbnailURL"
            [src]="thumbnailURL || project.thumbnailURL"
            alt=""
          />
          <p class="form__note" *ngIf="!thumbnailURL">※ 1280px x 720px以上</p>
          <input
            type="file"
            style="display: none"
            #thumbnailInput
            (change)="setImage($event)"
            accept="image/png, image/jpg"
          />
          <p class="form__note" *ngIf="!thumbnailURL && !project?.thumbnailURL">
            サムネイル画像を選択
          </p>
        </div>
        <button
          type="button"
          (click)="thumbnailInput.click()"
          mat-raised-button
          color="primary"
          class="form__btn"
        >
          <mat-icon>add_photo_alternate</mat-icon>
        </button>

        <div class="category">
          <mat-form-field>
            <mat-select
              formControlName="category"
              placeholder="カテゴリーを選択"
            >
              <mat-option
                *ngFor="let category of categoryGroup"
                [value]="category.value"
              >
                {{ category.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="form__description">
          <textarea
            matInput
            placeholder="プロジェクトの特徴を一言で"
            formControlName="description"
            #description
            autocomplete="off"
            required
            matTextareaAutosize
            [matAutosizeMinRows]="2"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__body">
          <textarea
            matInput
            placeholder="プロジェクトの詳細情報を入力"
            formControlName="body"
            #body
            autocomplete="off"
            matTextareaAutosize
            [matAutosizeMinRows]="10"
          ></textarea>
        </mat-form-field>
      </mat-dialog-content>

      <mat-form-field>
        <input
          placeholder="プロジェクトのリンクを入力"
          matInput
          formControlName="projectURL"
          required
        />
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button mat-raised-button color="" matDialogClose type="button">
          <mat-icon>close</mat-icon>
        </button>
        <button
          type="submit"
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          [disabled]="form.invalid || form.pristine || isProcessing"
          class="form__btn"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-dialog-actions>
    </form>
  </ng-container>
</div>
